<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85258307502-5drtg9d875efjvhjnn8b05qsntqltr3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85258307502-5drtg9d875efjvhjnn8b05qsntqltr3u</string>
	<key>API_KEY</key>
	<string>AIzaSyCfCFklg54oPK6bAnU3eKJtGxlQSM1xnUE</string>
	<key>GCM_SENDER_ID</key>
	<string>85258307502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DuT0mi.ThesisAccessibilityHelper</string>
	<key>PROJECT_ID</key>
	<string>thesisaccessibilityhelper</string>
	<key>STORAGE_BUCKET</key>
	<string>thesisaccessibilityhelper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85258307502:ios:828f58ee8dd358518a2a3f</string>
</dict>
</plist>